<template name = "PinLogin">
  <div class="row">
    <div class="col-md-offset-3 col-lg-offset-3 col-md-6 col-lg-6 text-center">
      <h3 class="text-center">PIN LOGIN</h3>
      <form class="Login">
        <p><b>Username:</b></p>
        <input type="text" name="username" value={{getUsername}}>
        <p></p>
        <p><b>Pincode:</b></p>
        <input type="password" name="pincode">
        <p></p>
        <p><button type="submit" class="btn">Sign In</button></p>
      </form>
    </div>
  </div>
</template>